<div class="container" style="padding: 100px">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <hr>
            <h1>Change Password</h1>
            <form asp-controller="Auth" asp-action="ChangePassword" method="post">
                <div class="form-group">
                    <label for="currentPassword">Current Password</label>
                    <input type="password" class="form-control" name="currentPassword" required>
                </div>
                <div class="form-group">
                    <label for="newPassword">New Password</label>
                    <input type="password" class="form-control" name="newPassword" required>
                </div>
                <div class="form-group">
                    <label for="confirmNewPassword">Confirm New Password</label>
                    <input type="password" class="form-control" name="confirmNewPassword" required>
                </div>
                <button type="submit" class="btn btn-warning">Change Password</button>
                @if (ViewBag.ErrorMessage != null)
                {
                    <div class="alert alert-danger">@ViewBag.ErrorMessage</div>
                }
                @if (ViewBag.SuccessMessage != null)
                {
                    <div class="alert alert-success">@ViewBag.SuccessMessage</div>
                }
            </form>
        </div>
    </div>
</div>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
